/*=============================
	Start Pricing Table CSS
===============================*/

.pricing-table {
    position: relative;
}

.pricing-table .section-content {
    text-align: center;
    margin: 60px 0px;
    padding: 0 250px;
}

.pricing-table .section-content p {
    margin: 0;
    padding: 0;
}

.pricing-table .single-table {
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
    padding: 45px 30px;
}

.pricing-table .single-table .table-head {
    text-align: center;
}

.pricing-table .single-table .table-head .icon i {
    font-size: 65px;
    color: #1a76d1;
}

.pricing-table .single-table .table-head .title {
    font-size: 21px;
    color: #2C2D3F;
    margin-top: 30px;
    margin-bottom: 15px;
    min-height: 55px;
}

.pricing-table .single-table .table-head .price .amount {
    font-size: 36px;
    font-weight: 600;
    color: #1a76d1;
}

.pricing-table .single-table .table-head .price .amount:first-child {
    padding-bottom: 15px;
}

.pricing-table .single-table .table-head .price .amount span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #868686;
    margin-left: 8px;
}

.pricing-table .single-table .table-head .price .discount-amount {
    font-size: 22px;
    font-weight: 600;
    color: #1a76d1;
    text-decoration: line-through;
}

.pricing-table .single-table .table-head .price .discount-amount span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #868686;
    margin-left: 8px;
}

.pricing-table .single-table .table-list {
    padding: 10px 0;
    text-align: left;
    margin-top: 30px;
}

.pricing-table .single-table .table-list li {
    position: relative;
    color: #666;
    text-transform: capitalize;
    margin-bottom: 18px;
    padding-right: 32px;
}

.pricing-table .single-table .table-list li:last-child {
    margin-bottom: 0px;
}

.pricing-table .single-table .table-list li.cross i {
    background: #aaaaaa;
}

.pricing-table .single-table .table-list i {
    font-size: 7px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    right: 0;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: #1a76d1;
    border-radius: 100%;
    padding-left: 1px;
}

.pricing-table .single-table .table-bottom {
    margin-top: 25px;
}

/*=============================
	End Pricing Table CSS
===============================*/