/*===================
	Start Header CSS 
=====================*/
.header {
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.header .navbar-collapse {
    padding: 0;
}

/* Topbar */
.topbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.topbar {
    padding: 15px 0;
}

.top-contact {
    /* float: right; */
    text-align: center;
}

.top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2C2D3F;
}

.top-contact li:last-child {
    margin-right: 0;
}

.top-contact li a {
    font-size: 14px;
    color: #2C2D3F !important;
}

.top-contact li a:hover {
    color: #1A76D1 !important;
}

.top-contact li i {
    color: #1A76D1;
    margin-right: 8px;
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%;
}

.get-quote {
    margin-top: 12px;
}

.get-quote .bton {
    color: #fff;
}

.get-quote .bton-1 {
    padding: 13px 25px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
}

.header .logo {
    float: left;
    margin-top: 18px;
}

.header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    height: 0px;
    min-height: 0px;
}

.header .nav li {
    margin-right: 15px;
    float: left;
    position: relative;
}

.header .nav li:last-child {
    margin: 0;
}

.header .nav li div {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.header .nav li div::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #1A76D1;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header .nav li.active div:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .nav li.active div {
    color: #1A76D1;
}

.header .nav li:hover div:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav li:hover div {
    color: #1a76d1;
}

.header .nav li div i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}

/* Dropdown Menu */
.header .nav li .dropdown {
    background: #fff;
    width: 220px;
    position: absolute;
    left: -20px;
    top: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px #3333334d;
    transform-origin: 0 0 0;
    transform: scaleY(0.2);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    top: 74px;
    border-left: 3px solid #2889e4;
}

.header .nav li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.header .nav li .dropdown li {
    float: none;
    margin: 0;
    border-bottom: 1px dashed #eee;
}

.header .nav li .dropdown li:last-child {
    border: none;
}

.header .nav li .dropdown li a {
    padding: 12px 15px;
    color: #666;
    display: block;
    font-weight: 400;
    text-transform: capitalize;
    background: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header .nav li .dropdown li a:before {
    display: none;
}

.header .nav li .dropdown li:last-child a {
    border-bottom: 0px;
}

.header .nav li .dropdown li:hover a {
    color: #1A76D1;
}

.header .nav li .dropdown li a:hover {
    border-color: transparent;
}

/* Right Bar */
/* .header.style2 .main-menu {
    display: inline-block;
    float: left;
}

.header .right-bar {
    float: right;
}

.header .right-bar {
    padding-top: 20px;
}

.header .right-bar {
    display: inline-block;
}

.header .right-bar a {
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #1a76d1;
    border-radius: 4px;
    display: block;
    font-size: 12px;
}

.header .right-bar li a:hover {
    color: #fff;
    background: #27AE60;
}

.header .search-top.active .search i:before {
    content: "\eee1";
    font-size: 15px;
} */

/* Search */
/* .header .search-form {
    position: absolute;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: 74px;
    box-shadow: 0px 0px 10px #0000001c;
    border-radius: 4px;
    overflow: hidden;
    transform: scale(0);
}

.header .search-top.active .search-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.header .search-form input {
    width: 282px;
    height: 50px;
    line-height: 50px;
    padding: 0 70px 0 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #2C2D3F;
}

.header .search-form button {
    position: absolute;
    right: 0;
    height: 50px;
    top: 0;
    width: 50px;
    background: #1A76D1;
    border: none;
    color: #fff;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid transparent;
}

.header .search-form button:hover {
    background: #fff;
    color: #1A76D1;
    border-color: #e6e6e6;
} */

/* Header Sticky */
.header.sticky .header-inner {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: initial;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    animation: fadeInDown 0.5s both 0.1s;
    box-shadow: 0px 0px 13px #00000054;
}

/* Mobile Nav */
.mobile-nav {
    display: none;
}

.mob_nav {
    display: none;
}

.mob_nav.show {
    display: block !important;
}

.mob_nav li.active div {
    color: #1A76D1 !important;
}

.mob_menu {
    display: block !important;
}

.mob_menu,
.mob_menu * {
    box-sizing: border-box;
}

.mob_menu {
    font-size: 16px;
    background: #4c4c4c;
    padding: 5px;
}

.mob_menu:after,
.mob_menu:before {
    content: " ";
    display: table;
}

.mob_bton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
}

.mob_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
    color: #fff;
    font-weight: 700;
}

.mob_icon:before {
    background: 0 0;
    width: 1.125em;
    height: .875em;
    display: block;
    content: "";
    position: absolute;
}

.mob_no-text {
    margin: 0;
}

.mob_icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mob_icon-bar {
    width: 25px;
    height: 3px;
    background-color: #1A76D1;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}

.mob_nav li,
.mob_nav ul {
    display: block;
}

.mob_nav,
.mob_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

/*=========================
	End Header CSS
===========================*/