/*===================
	Start Header CSS 
=====================*/
.topbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.topbar {
    padding: 15px 0;
}

.top-contact {
    text-align: center;
}

.top-contact li {
    display: inline-block;
    margin-right: 25px;
    color: #2C2D3F;
}

.top-contact li:last-child {
    margin-right: 0;
}

.top-contact li i {
    color: #1A76D1;
    margin-right: 8px;
}

.header {
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.header .header-inner {
    background: #fff;
    z-index: 999;
    width: 100%;
    text-align: center;
    padding: 0px 45px;
}

.header .header-inner .logo {
    float: left;
    margin-top: 18px;
}

.header .header-inner .mobile-bton {
    margin-right: 25px;
}

.header .header-inner .mobile-bton .bton-1 {
    color: #fff;
}

.header .header-inner .mobile-bton .bton-2 {
    color: #fff;
}

.header .header-inner .mob_bton {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.header .header-inner .mob_bton.open .mob_icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.header .header-inner .mob_bton.open .mob_icon-bar:nth-child(2) {
    opacity: 0;
}

.header .header-inner .mob_bton.open .mob_icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.header .header-inner .mob_bton .mob_icon {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header .header-inner .mob_bton .mob_icon:before {
    background: 0 0;
    width: 1.125em;
    height: .875em;
    display: block;
    content: "";
    position: absolute;
}

.header .header-inner .mob_bton .mob_icon .mob_icon-bar {
    width: 25px;
    height: 3px;
    background-color: #1A76D1;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}

.header .header-inner .mob_bton .mob_no-text {
    margin: 0;
}

.header .header-inner .mobile-nav {
    display: none;
    transition: all 0.3s ease;
}

.header .header-inner .navigation .nav li {
    margin-right: 15px;
    float: left;
    position: relative;
}

.header .header-inner .navigation .nav li:last-child {
    margin: 0;
}

.header .header-inner .navigation .nav li div {
    color: #2C2D3F;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 25px 12px;
    position: relative;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.header .header-inner .navigation .nav li div::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: #1A76D1;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header .header-inner .navigation .nav li.active div:before {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.header .header-inner .navigation .nav li.active div {
    color: #1A76D1;
}

.header .header-inner .navigation .nav li:hover div:before {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .header-inner .navigation .nav li:hover div {
    color: #1a76d1;
}

.header .header-inner .navigation .nav li div i {
    display: inline-block;
    margin-left: 1px;
    font-size: 13px;
}

.header .header-inner .header-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header .header-inner .header-btn .get-quote {
    margin-top: 12px;
}

.header .header-inner .header-btn .get-quote .bton {
    color: #fff;
}

.header .header-inner .header-btn .get-quote .bton-1 {
    padding: 13px 25px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
}

.header .header-inner .header-btn .get-quote .bton-2 {
    padding: 13px 25px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    position: relative;
    box-shadow: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
}

/* Header Sticky */
.header.sticky .header-inner {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    bottom: initial;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    animation: fadeInDown 0.5s both 0.1s;
    box-shadow: 0px 0px 13px #00000054;
}

/*=========================
	End Header CSS
===========================*/